/* dashboard */

.dash-wrapper {
  position: relative;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  padding: 15px 0px;
}

.dashboard {
  position: absolute;
  max-width: 280px;
  min-width: 270px;
  right: 10%;
  top: 85px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 103;
  display: flex;
  flex-direction: column;
  background-color: darken($color: #282c34, $amount: 2)  !important;
  @media screen and (min-width: 700px) {
    right: 12%;
    top: 50px;
  }
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dash-animation:hover,
.dash-animation:active {
  transform: scale(1.1);
  transition: all 0.2s linear;
  font-weight: 500;
  color: var(--light-blue);
}
.dash-action {
  margin: 2px 5px;
  padding: 8px 2px;
  width: 100%;
  max-height: 45px;
  justify-content: flex-start !important;
  text-decoration: none;
  transition: all 0.1s linear;
  .dash-action-text {
    padding: 0;
    margin: 0px;
    font-size: 1.1em;
    font-weight: 500;
  }
  .dash-icon {
    margin: 8px 25px 0px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: grey;
      width: 35px;
      height: 35px;
      left: -9px;
      top: -10px;
      border-radius: 50%;
      z-index: -1;
    }
  }
}
.dash-user-info {
  @extend .dash-action;
  justify-content: center;
  max-height: 55px;
  animation: 1s both infinite;
}
